body{
    font-size: 18px;
}
.wrapper-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}
section.presentation .wrapper-section{
    background-color: #dfe6e9;
}

h2{
    background-color: #2d3436;
    border-radius: 5px;
    font-size: 1.5em;
    padding: .5em 1em;
    display: inline-block;
    color: white;
}

.texte{
    padding: 25px 40px;
}

p.nom{
    font-size: 40px;
    font-weight: bold;
}
.infos{
    display: flex;
    gap: 1em;
    margin: 1em 0;
}

p.presentation{
    gap: 1em;
    margin: 1em 0;
}

strong{
    font-weight: bold;
}

div.exp{
    border: 2px solid #2d3436;
    border-radius: 10px;
    width: 100%;
}
h2.verticaltext{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

section.experiences .wrapper-section{
    display: flex;
    gap: 25px;
    padding: 20px;
}